@import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors:(
    "primary" : #025fa4,
    "nav"     : #025fa4,
    "info"    : #2A8AA2,
    "warning" : #a7bf01,
    "success" : #f5e1c7,
    "danger"  : #ec000e,
);




$navbar-light-color: #025fa4;
$navbar-light-hover-color: #ec000e;
$navbar-light-active-color: #ec000e;
$navbar-font-weight: bold;


// Input
$input-bg:  #dff9ff;
$input-border-color: #dcf8ff;
$input-focus-bg: #d7f7ff;;

// Card
$card-border-width: 0;
$card-bg: #bbddff;
$card-box-shadow:  #000;
$card-title-color:#000000;
$card-text-color: #000000;

// table
$table-bg: #F6F4F3;
$table-border-color: #2E294E;

// container
$container-bg: #949494;


//link
$link-primary : #025fa4;

//button
$btn-font-weight: bold;


// Variables
@import '_variables';

//Thumbnail
$thumbnail-border-width: 0;

// background



// Bootstrap
@import 'bootstrap/scss/bootstrap';